@page
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">
        "Não importa o quão devagar você vá, desde que você não pare." - Confúcio
    </h1>

</div>

